<tr class="animate-pulse">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="h-5 bg-gray-300 dark:bg-gray-700 rounded w-16"></div>
  </td>
  
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-24"></div>
  </td>
  
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-16"></div>
  </td>
  
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-20"></div>
  </td>
  
  <td class="px-6 py-4 whitespace-nowrap text-right">
    <div class="h-8 bg-gray-300 dark:bg-gray-700 rounded w-20 ml-auto"></div>
  </td>
</tr>
